spring-apps/testing/src/main/resources/application.properties
spring-apps/testManagement/src/main/resources/application.properties
spring-apps/testManagement/src/main/resources/application.properties
spring-apps/testManagement/bin
